#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

header,
nav,
main,
aside,
footer {
  padding: 12px;
  text-align: center;
}

header {
  background-color: var(--header-bg-color);
  height: 60px;
}

.columns {
  display: flex;
  flex-grow: 1;
}

nav {
  background-color: var(--nav-bg-color);
  flex-shrink: 0;
  width: 100px;
}

main {
  background-color: var(--main-bg-color);
  flex-grow: 1;
}

aside {
  background-color: var(--aside-bg-color);
  flex-shrink: 0;
  width: 100px;
}

footer {
  background-color: var(--footer-bg-color);
  height: 100px;
}
